{% extends 'base.html.twig' %}

{% block title %}Liste des appels de fonds{% endblock %}

{% block body %}
    <h1>Liste des appels de fonds</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date d'émission</th>
                <th>Date de paiement</th>
                <th>Montant</th>
                <th>Projet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appel in appels %}
                <tr>
                    <td>{{ appel.dateEmission ? appel.dateEmission|date('d/m/Y') : '' }}</td>
                    <td>{{ appel.datePaiement ? appel.datePaiement|date('d/m/Y') : '' }}</td>
                    <td>{{ appel.montant }} €</td>
                    <td>{{ appel.idProjet ? appel.idProjet.nom : '' }}</td>
                    <td>
                        <a href="{{ path('appel_de_fonds_delete', { id: appel.id }) }}" class="btn btn-danger mb-3" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet appel ?');">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun appel de fonds trouvé.</td>
                </tr>
            {% endfor %}
            <a href="{{ path('appel_de_fonds_add') }}" class="btn btn-success mb-3">Créer un appel de fonds</a>
        </tbody>
    </table>
{% endblock %}